.Burger {
  width: 100%;
  margin: auto;
  height: 375px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;

  &__message {
    font-size: 1.8rem;
  }
}

@media (min-width: 31.25em) and (min-height: 25em) {
  .Burger {
    width: 35rem;
    height: 30rem;
  }
}

@media (min-width: 31.25em) and (min-height: 25.06em) {
  .Burger {
    width: 45rem;
    height: 40rem;
  }
}

@media (min-width: 75em) and (min-height: 43.75em) {
  .Burger {
    width: 70rem;
    height: 60rem;
  }
}